<ion-view view-title="Futebol Regionais">
  <ion-content class="fRegionais" padding="true" class="has-header">
    <div class="row">
      <div class="col col-50">
        <a href="#/app/futebolrCont/saNorte/Regional%20Santo%20Antão%20Norte">
          <div class="card" >
            <div class="card-title">Santo Antão Norte</div>
          </div>
        </a>
      </div>
      <div class="col col-50">
        <a href="#/app/futebolrCont/saSul/Regional%20Santo%20Antão%20Sul">
          <div class="card" >
            <div class="card-title">Santo Antão Sul</div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <a href="#/app/futebolrCont/sVicente/Regional%20São%20Vicente">
          <div class="card">
            <div class="card-title">São Vicente</div>
          </div>
        </a>
      </div>
      <div class="col col-50">
        <a href="#/app/futebolrCont/sNicolau/Regional%20São%20Nicolau">
          <div class="card" >
            <div class="card-title">São Nicolau</div>
          </div>
        </a>
      </div>
    </div>
    <div class="row"> 
      <div class="col col-50">
        <a href="#/app/futebolrCont/sal/Regional%20Sal">
          <div class="card" >
            <div class="card-title">Sal</div>
          </div>
        </a>
      </div>
      <div class="col col-50">
        <a href="#/app/futebolrCont/boavista/Regional%20Boavista">
          <div class="card" >
            <div class="card-title">Boavista</div>
          </div>
        </a>
      </div>
    </div>
    <div class="row"> 
      <div class="col col-50">
        <a href="#/app/futebolrCont/maio/Regional%20Maio">
          <div class="card" >
            <div class="card-title">Maio</div>
          </div>
        </a>
      </div>
      <div class="col col-50">
        <a href="#/app/futebolrCont/stNorte/Regional%20Santiago%20Norte">
          <div class="card">
            <div class="card-title">Santiago Norte</div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">  
      <div class="col col-50">
        <a href="#/app/futebolrCont/stSul/Regional%20Santiago%20Sul">
          <div class="card" >
            <div class="card-title">Santiago Sul</div>
          </div>
        </a>
      </div>
      <div class="col col-50">
        <a href="#/app/futebolrCont/fogo/Regional%20Fogo">
          <div class="card" >
            <div class="card-title">Fogo</div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">  
      <div class="col col-50">
        <a href="#/app/futebolrCont/brava/Regional%20Brava">
          <div class="card" >
            <div class="card-title">Brava</div>
          </div>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
